.container {
    width: 98%;
}

#bricks .list-group-item {
    margin-bottom: 10px;
}

#playground {
    min-height: 500px;
}

#playground .brick {
    max-width: 220px;
    margin-right: 10px;
    margin-bottom: 0px;
}

#playground .input-group {
    display: inline-flex;
}

#playground .brick {
    display: inline-block;
}

#playground  .brick.large {
    max-width: none;
    display: block;
    margin-right: 10px;
}

#playground  .brick.large .panel-body {
    padding-bottom: 0px;
}

#playground.panel-body {
    margin: 0px;
    padding: 0px;
}

/*.brick > .panel-body {
    min-width: 200px;
}*/

/*.brick.small-brick {
    max-width: 108px;
}

#bricks .brick.small-brick {
    display: inline-block;
    margin-right: 10px;
}*/

/*
.brick.small-brick > .panel-body {
    max-width: 40%;
}*/

.well .panel {
    margin-bottom: 0px;
}

#playground .list-group-item.drop-area {
    min-height: 70px;
}

.well.inline {
    background-color: white;
    flex-grow: 1;
    margin-left: 10px;
    min-height: 60px;
}

.well-wrapper {
    display: flex;
}

.well-label {
    padding-top: 15px;
}

.invisible {
    display: none;
}

#program {
    min-height: 60px;
    background: black;
    color: seagreen;
    font-weight: bold;
}

.glyphicon-ok {
    color: seagreen;
    font-size: 2em;
}

.glyphicon-remove {
    color: firebrick;
    font-size: 2em;
}

.glyphicon-trash {
    padding-left: 10px;
    color: lightgrey;
    position: absolute;
    margin-top: 29px;
    bottom: 0;
    right: 0;
}

#bricks .glyphicon-trash {
    display: none;
}

.var-name {
    max-width: 70px;
}

.number {
    max-width: 100px;
}

#playground .var-name {
    margin: 0px 5px;
    max-width: 70px;
}

.var-name-group {
    display: inline-flex;
}

#bricks p, #playground p {
    margin: 0px;
}

.brick {
    background-color: #e0ecf7;
    border-color: white;
}

.start {
    width: 100%;
}