.container {
    width: 98%;
}

#playground {
    min-height: 500px;
}

#playground .brick {
    max-width: 200px;
    display: inline-flex;
    margin-right: 10px;
}

#playground > .brick.large {
    max-width: none;
    display: block;
    margin-right: 10px;
}

.well .panel {
    margin-bottom: 0px;
}

.well.inline {
    flex-grow: 1;
    margin-left: 10px;
}

.well-wrapper {
    display: flex;
}

.well-label {
    padding-top: 10px;
}